{% extends "base.html" %}

{% block titulo %} Cadastro de Usuário {% endblock %}

{% block conteudo %}
<section data-bs-version="5.1" class="features16 cid-tzVjbxlXj9" id="features17-6">

    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg-8">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-5">
                            <strong>Cadastro de Usuários</strong>
                        </h6>
                        <form class="form form-vertical" action="{% url 'cadusuario'%}" method="post">
                            {% csrf_token %}

                            <div class="mb-3">
                                <label for="username" class="form-label">Nome de usuário:</label>
                                <input type="text" class="form-control" name="username" id="username">
                            </div>


                            <div class="mb-3">
                                <label for="email" class="form-label">Email:</label>
                                <input type="email" class="form-control" name="email" id="email">
                            </div>

                            <div class="mb-3">
                                <label for="password" class="form-label">Senha:</label>
                                <input type="password" class="form-control" name="password" id="password">
                            </div>


                            <div class="mb-4">
                                <label for="password2" class="form-label">Confirme a senha:</label>
                                <input type="password" class="form-control" name="password2" id="password2">
                            </div>

                            <div>
                                <input class="btn btn-primary" type="submit" value="Enviar">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}